<div class="topnav" id="myTopnav">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#resume">Resume</a></li>
  </ul>
</div>
<div class="background">
  <div class="container">
    <div class="intro">
      <h1>Tyler Palef</h1>
      <h2>Full-Stack Developer</h2>
      <img src="https://i.postimg.cc/bJ2SFD2g/about-tyler.png" width:300px height: 300px>
    </div>
    <div class="content">
      <div id="home">
        <h1>Home</h1>
        <p> Hey there!</p>
        <p> Welcome to my little corner of the internet.</p>
        <p> I am a full-stack web developer by day and super dad at night.</p>
      </div>
  </div>
    <div class="content">
      <div id="projects">
        <h1>Projects</h1>
        <p>I'm always pushing myself to add languages to my tech stack. You can keep up to date on my latest projects through <a href='https://www.codewars.com/users/tylerpalef/'><b>Codewars</b></a>, as well as <a href="https://github.com/tylerpalef"><b>Github</b></a>.</p>
        <!-- My codewars profile -->
          <img src="https://www.codewars.com/users/tylerpalef/badges/large" width: 100%> <br>
        <!-- My Github Profile -->
          <div class="github-card" data-github="tylerpalef" data-width="400" data-height="" data-theme="default"></div>
          <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
        <div class="project-part-2">
          <p>Currently I am working on fleshing out this very website! In addition to that, I am furthering my understanding of Python as well as completing nifty JavaScript exercises</p>
        </div>
        <div class="githubprojects">
          <!-- This website -->
          <!-- Img source, https://pixabay.com/en/programmer-programming-code-work-1653351/ -->
          <img src="https://i.postimg.cc/KjS3XGP2/personal-site.jpg">
          <img src="https://i.postimg.cc/XqfG4RLy/javascript.png">
          <img src="https://i.postimg.cc/GhRTqp3P/Python-logo.png">
            <div class="github-card" data-github="tylerpalef/personal_site" data-width="100%" data-height="100%" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
          <!-- Learning Python -->
            <div class="github-card" data-github="tylerpalef/Learning_Python" data-width="100%" data-height="100%" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

          <!-- Javascript 30 -->
          <div class="github-card" data-github="tylerpalef/javascript30" data-width="100%" data-height="100%" data-theme="default"></div>
          <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
      </div>

    <div class="content">
      <div id="about">
        <h1>About</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="content">
      <div id="resume">
        <h1>Resume</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Github, LinkedIn,and email contact info</p>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
  </div>
</div>
