<div class="topnav" id="myTopnav">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#resume">Resume</a></li>
  </ul>
</div>
<div class="background">
  <div class="container">
    <div id="home">
      <h1>Home</h1>
    </div>

    <div id="projects">
      <h1>Projects</h1>
    </div>

    <div id="about">
      <h1>About</h1>
    </div>

    <div id="resume">
      <h1>Resume</h1>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i></a> <!-- This is for the hamburger menu on smaller screens -->

  </div>
</div>
