<div class="topnav" id="myTopnav">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#resume">Resume</a></li>
  </ul>
</div>
<div class="background">
  <div class="container">
    <div class="intro">
      <h1>Tyler Palef</h1>
      <h2>Full-Stack Developer</h2>
      <img src="https://i.postimg.cc/bJ2SFD2g/about-tyler.png" width:300px height: 300px>

    </div>
    <div class="content">
      <div id="home">
        <h1>Home</h1>
        <p> Hey there!</p>
        <p> My name is Tyler (<i>in case there is still any confusion</i>)</p>
        <p> I am a full-stack web developer based out of Toronto.</p>
      </div>
  </div>
    <div class="content">
      <div id="projects">
        <h1>Projects</h1>
        <p>I'm always pushing myself to add languages to my tech stack. You can keep up to date on my latest projects through <a href='https://www.codewars.com/users/tylerpalef/'><b>Codewars</b></a>, as well as <a href="https://github.com/tylerpalef"><b>Github</b></a>.</p>
        <!-- My codewars profile -->
          <img src="https://www.codewars.com/users/tylerpalef/badges/large" width: 100%> <br>
        <!-- My Github Profile -->
          <div class="github-card" data-github="tylerpalef" data-width="100%" data-height="100%" data-theme="default"></div>
          <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
        <div class="project-part-2">
          <p>Currently I am working on fleshing out this very website! In addition to that, I am furthering my understanding of Python as well as developing a nifty geo-location web app <a href="cyclesurgeon.ca"><b>CycleSurgeon.ca</b></a>.</p>
        </div>
        <div class="githubprojects">
          <!-- This website -->
          <!-- Img source, https://pixabay.com/en/programmer-programming-code-work-1653351/ -->
          <img src="https://i.postimg.cc/KjS3XGP2/personal-site.jpg">
          <img src="https://i.postimg.cc/GhRTqp3P/Python-logo.png">
          <img src="https://i.postimg.cc/dVDf6SM8/bike.jpg">
            <div class="github-card" data-github="tylerpalef/personal_site" data-width="100%" data-height="100%" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
          <!-- Learning Python -->
            <div class="github-card" data-github="tylerpalef/Learning_Python" data-width="100%" data-height="100%" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

          <!-- Cycle Surgeon -->
          <div class="github-card" data-github="tylerpalef/cycle_surgeon" data-width="100%" data-height="100%" data-theme="default"></div>
          <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
      </div>

    <div class="content">
      <div id="about">
        <h1>About</h1>
        <div class="about-grid">
          <div class="project-part-2">
            <p>Have you ever felt like you had to choose between two passions?<br><br>

            That was the crossroad I faced in 2018. Originally, I gravitated towards fine arts because there’s something special about <b>storytelling</b> and crafting <b>interactive user experiences</b>. Like any rational person, I was concerned about pursuing my artistic interests and instead jumped headfirst into an awesome tech company, Tucows Inc.<br><br>

            After over two years of developing <b>leadership</b>, <b>communication</b>, <b>problem-solving</b> and <b>project management skills</b>, I felt it was time to mix my two passions together.<br><br>

            I bet on myself to learn how to become the programmer I’ve always wanted to be.
          </p>
          </div>
          <div class="about-pic">
            <img src="https://i.postimg.cc/cJBM71z6/tyler-about.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div id="resume">
        <h1>Resume</h1>
        <p><b>HTML</b></p>
<div class="resume-container">
  <div class="skills html">90%</div>
</div>

<p><b>CSS</b></p>
<div class="resume-container">
  <div class="skills css">80%</div>
</div>

<p><b>JavaScript</b></p>
<div class="resume-container">
  <div class="skills js">65%</div>
</div>

<p><b>Ruby on Rails</b></p>
<div class="resume-container">
  <div class="skills ruby">80%</div>
</div>
        <p><a href="https://drive.google.com/file/d/1bXqce-rbJ6ETXOwWy6Rvu4UUcSeEykJS/view?usp=sharing">Click here</a> for my full resume.</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Let's Connect!</p>
    <div class="footer-icons">
      <p><a href=""><i class="fab fa-github"></i></a></p>
      <p><a href="https://www.linkedin.com/in/tylerpalef/"><i class="fab fa-linkedin-in"></i></a></p>
      <p><i class="fas fa-envelope"></i></p>
      <p><i class="fab fa-twitter"></i></p>
    </div>
      <p>&copy; Tyler Palef 2018</p>
  </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
</div>
