<div class="page">
  <div class="hero"></div>
  <div class="hero-name">
    <h2>Tyler Palef</h2>
  </div>
  <div class="hero-slogan">
    <h1>Don't let your dreams be dreams</h1>
    <h3>Full Stack Web Developer</h3>
  </div>
  <div class="about"></div>
  <div class="skills">
    <p>
      <a href="https://drive.google.com/file/d/1VcUhP3S66BREIL0i2Lh1xJG0s0WDKcVt/view?usp=sharing">Click here</a>
      for my full resume
    </p>
  </div>
  <div class="projects"></div>
  <div class="back-to-top">
  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
  </div>
</div>
