* {
  box-sizing: border-box;
}
// Back to top button

@media only screen and (max-width: 1210px) {
  .hero{
    position: fixed;
    width: 100%;
    background-color: red;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .hero-name{
    position: fixed;
    z-index: 2;
    top: 0px;;
    left: 32%;
  }
  .hero-slogan {
    position: fixed;
    z-index: 2;
    top: 20%;
    left: 20%;
    width: 60%;
    text-align: center;
  }

  .about {
    position: relative;
    left: 0;
    padding: 0;
    width: 100vw;
    left: -8px;
    height: 30vh;
    z-index: 3;
    top: 100vh;
    background-color: blue;
  }

  .skills {
    position: relative;
    width: 100vw;
    height: 100%;
    left: -8px;
    z-index: 3;
    top: 97.6vh;
    background-color: green;
  }

  .projects {
    position: relative;
    width: 100vw;
    height: 30vh;
    left: -8px;
    z-index: 3;
    top: 97.6vh;
    background-color: grey;
  }
}
@media only screen and (max-width: 600px) {}
