// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colour palette
// background - #1D5F68
// header text - #01A0B6
// body text - #027889

//****************//

html {
  box-sizing: content-box;
  font-family: 'Oswald', sans-serif;
}

h1, h2 {
  color: #01A0B6;
  text-shadow: 2px 2px #1D5F68;
  font-family: 'Amatic SC', cursive;
}
// Adding a bottom border for the headers
#home > h1 {
  border-bottom: 2px solid #1D5F68;
  padding-bottom: 5%;
}

#projects > h1 {
  border-bottom: 2px solid #1D5F68;
  padding-bottom: 5%;
}

#about > h1 {
  border-bottom: 2px solid #1D5F68;
  padding-bottom: 5%;
}

#resume > h1 {
  border-bottom: 2px solid #1D5F68;
  padding-bottom: 5%;
}



p {
  color: #027889;
}

// background
body {
  background: #1D5F68;
  width: 100%;
  height: 100%;
}

//****************//

// Nav bar
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 20rem;
  z-index: 999;
  background-color: #131515;
  text-align: center;
  box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

// Unordered list of nav bar
.topnav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin-left: 33%;
  margin-right: 33%;
}

// List items in the nav bar
.topnav > li, a {
  text-decoration: none;
  color: #01A0B6;
  text-align: center;
}

// List items when hovered, or clicked
.topnav > li, a:hover {
  border-bottom: solid 2px #243E42;
  color: #243E42;
}

//****************//

// Intro section

.intro {
  width: 100%;
  height: 100%;
  font-size: xx-large;
  text-transform: uppercase;
}

.intro > img {
  width: 250px;
  border-radius: 50%;
  margin-top: 10%;
}

.intro > h1, h2 {
  margin-bottom: -8%;
}

.intro > h1 {
  font-stretch: expanded;
  font-size: 200px;
  margin-top: 0;
}

//****************//

// main content

.container {
  text-align: center;
  padding-top: 2.5em;
  background-color: #fff5ee;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

#home > p {
  text-align: left;
  margin: 2px auto;
}

#projects > p {
  text-align: left;
  margin: 2px auto;
  padding-bottom: 5%;
}

.githubprojects {
  padding-top: 5%;
}

.githubprojects > img {
  width: 200px;
  text-align: center;
}

.project-part-2 {
  text-align: left;
}

//****************//

// Responsive-ness for the nav bar at 1100px
@media screen and (max-width: 1100px) {
  .topnav > ul {
    margin: auto;
    padding-left: 0;
    padding-left: 33%;
    padding-right: 33%;
  }
  .topnav {
    height: 5%;
    padding-top: 2.5%;
    padding-bottom: .5%;
  }
  .intro > h1 {
    font-size: 150px;
  }
}

// Responsive-ness for the nav bar at 950px
@media screen and (max-width: 950px) {
  .topnav > ul {
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
  }
  .topnav {
    height: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .intro > h1 {
    font-size: 90px;
  }
}


// Projects... Github section

.githubprojects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// Responsive-ness to the projects
@media screen and (max-width: 950px) {
  .githubprojects {
    grid-template-columns: 1fr;
  }
  .githubprojects > img {
    display: none;
  }
}
