// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colour palette
// background - #1D5F68
// header text - #01A0B6
// body text - #027889

//****************//

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: content-box;
}

h1 {
  color: #01A0B6;
}

p {
  color: #027889;
}

// background
body {
  background: #1D5F68;
  width: 100%;
  height: 100%;
}

//****************//

// Nav bar
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 20rem;
  z-index: 999;
  background-color: #131515;
  text-align: center;
  box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

// Unordered list of nav bar
.topnav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin-left: 33%;
  margin-right: 33%;
}

// List items in the nav bar
.topnav > li, a {
  text-decoration: none;
  color: #01A0B6;
}

// List items when hovered, or clicked
.active {
  border-bottom: solid 2px #243E42;
  color: #243E42;
}

.topnav .icon {
    display: none;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .topnav > ul {
        display: block;
    }
}


//****************//

// main content

.container {
  text-align: center;
  margin-top: 5em;
}
